<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mars.yoyo.hotspot.ms.dao.SmsMoMapper" >
  <resultMap id="BaseResultMap" type="com.mars.yoyo.hotspot.ms.domain.SmsMo" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="sub_id" property="subId" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="receive_time" property="receiveTime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>