<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mars.yoyo.hotspot.mifi.dao.UserAccountMapper" >
  <resultMap id="BaseResultMap" type="com.mars.yoyo.hotspot.mifi.domain.UserAccount" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="balance" property="balance" jdbcType="DECIMAL" />
    <result column="coupon_num" property="couponNum" jdbcType="INTEGER" />
    <result column="red_envelope_num" property="redEnvelopeNum" jdbcType="INTEGER" />
    <result column="integral" property="integral" jdbcType="INTEGER" />
    <result column="deposit" property="deposit" jdbcType="DECIMAL" />
    <result column="deposit_en" property="depositEn" jdbcType="DECIMAL" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="balance_en" property="balanceEn" jdbcType="DECIMAL" />
  </resultMap>
</mapper>