<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mars.yoyo.hotspot.mifi.dao.UserRedEnvelopeMapper" >
  <resultMap id="BaseResultMap" type="com.mars.yoyo.hotspot.mifi.domain.UserRedEnvelope" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="red_envelope_id" property="redEnvelopeId" jdbcType="INTEGER" />
    <result column="red_item_id" property="redItemId" jdbcType="INTEGER" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>