<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mars.yoyo.hotspot.mifi.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.mars.yoyo.hotspot.mifi.domain.User" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="CHAR" />
    <result column="sex" property="sex" jdbcType="SMALLINT" />
    <result column="id_card" property="idCard" jdbcType="VARCHAR" />
    <result column="deposited" property="deposited" jdbcType="BIT" />
    <result column="certified" property="certified" jdbcType="BIT" />
    <result column="last_login_ip" property="lastLoginIp" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="BIT" />
    <result column="birthday" property="birthday" jdbcType="VARCHAR" />
    <result column="country_area_code" property="countryAreaCode" jdbcType="VARCHAR" />
    <result column="register_time" property="registerTime" jdbcType="TIMESTAMP" />
    <result column="register_ip" property="registerIp" jdbcType="VARCHAR" />
    <result column="en" property="en" jdbcType="BIT" />
    <result column="nickname" property="nickname" jdbcType="VARCHAR" />
    <result column="headImgUrl" property="headimgurl" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>