<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mars.yoyo.hotspot.admin.dao.BannerMapper">
  <resultMap id="BaseResultMap" type="com.mars.yoyo.hotspot.admin.entity.Banner">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="img_url" jdbcType="VARCHAR" property="imgUrl" />
    <result column="video_url" jdbcType="VARCHAR" property="videoUrl" />
    <result column="state" jdbcType="BIT" property="state" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="mofidy_time" jdbcType="TIMESTAMP" property="mofidyTime" />
  </resultMap>
</mapper>