<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mars.yoyo.hotspot.admin.dao.LeaseMapper">
  <resultMap id="BaseResultMap" type="com.mars.yoyo.hotspot.admin.entity.Lease">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="device_id" jdbcType="VARCHAR" property="deviceId" />
    <result column="power_bank_id" jdbcType="VARCHAR" property="powerBankId" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="product_type" jdbcType="INTEGER" property="productType" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="passowrd" jdbcType="VARCHAR" property="passowrd" />
    <result column="lease_no" jdbcType="VARCHAR" property="leaseNo" />
    <result column="last_lease_no" jdbcType="VARCHAR" property="lastLeaseNo" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="rent_time" jdbcType="TIMESTAMP" property="rentTime" />
    <result column="returned" jdbcType="BIT" property="returned" />
    <result column="return_time" jdbcType="TIMESTAMP" property="returnTime" />
    <result column="expected_return_time" jdbcType="TIMESTAMP" property="expectedReturnTime" />
    <result column="lang_en" jdbcType="BIT" property="langEn" />
    <result column="overed" jdbcType="BIT" property="overed" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="expired_sms" jdbcType="BIT" property="expiredSms" />
    <result column="sms_expiring" jdbcType="BIT" property="smsExpiring" />
    <result column="sms_cap" jdbcType="BIT" property="smsCap" />
    <result column="slot" jdbcType="INTEGER" property="slot" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
</mapper>