<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mars.yoyo.hotspot.admin.dao.SmsMoMapper">
  <resultMap id="BaseResultMap" type="com.mars.yoyo.hotspot.admin.entity.SmsMo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="sub_id" jdbcType="VARCHAR" property="subId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="receive_time" jdbcType="TIMESTAMP" property="receiveTime" />
  </resultMap>
</mapper>