<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mars.yoyo.hotspot.admin.dao.SmsReqMapper">
  <resultMap id="BaseResultMap" type="com.mars.yoyo.hotspot.admin.entity.SmsReq">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="req_id" jdbcType="VARCHAR" property="reqId" />
    <result column="receive_time" jdbcType="TIMESTAMP" property="receiveTime" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="send_time" jdbcType="TIMESTAMP" property="sendTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
</mapper>